@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

body{
    background-image: linear-gradient(45deg, rgb(121, 240, 214), rgb(186, 255, 248));
    font-family: 'Roboto Condensed', sans-serif;
}

div{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color:deepskyblue

}